POSTGRES_DB=t_health_db
POSTGRES_USER=t_health_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
SERVER_PORT=8080

KEYCLOAK_BASE_URL=http://localhost:8180
KEYCLOAK_REALM=t-health
KEYCLOAK_ADMIN_CLIENT_ID=t-health-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=replace_with_client_secret